<head>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="body" >
  
  <div class="container-1">
    <div class="image-container">
      <img src="https://mybnah24.bna.tn/images/bna.png">
    </div>
  
    <div class="icons-container">
      <div class="icons"  routerLink="/" (click)="validate_temp2()">
        <i class='bx bxs-home'></i>
      </div>
  
      <div class="icons" routerLink="/search" (click)="validate_temp()">
        <i class='bx bxs-search-alt-2'></i>
      </div>
  
      <div class="icons" routerLink="/form" (click)="validate_temp()">
        <i class='bx bxs-printer'></i>
      </div>
  
      <div class="icons">
        <i class='bx bx-power-off'></i>
      </div>
  
    </div>
  </div>


  <div class="container-2" >
        
    <p style="font-weight: bold; font-family: sans-serif;" >Matricule: {{clients[1].matricule}} </p>
    <p style="font-weight: bold; font-family: sans-serif;">Agence:{{clients[1].agence}} </p>
        
      
    <div>
        <p style="font-weight: bold; font-family: sans-serif;">Date comptable:{{clients[1].date}} </p>
        <p style="font-weight: bold; font-family: sans-serif;">Date du jour:{{clients[1].date}} </p>
      </div>

  </div>
 
</div>  
  



    <div class="sidebar" *ngIf="template === true">


        <div class="section1">
          <div class="green">
              <p>Gestion des Crédits</p>
          </div>
          
          <div class="li" routerLink="/search" (click)="validate_temp()"><i class='bx bx-grid-small'></i>Prise en charge décision</div>
          <div class="li"><i class='bx bx-grid-small'></i>Modification décision</div>
          <div class="li" routerLink="/annulation" (click)="validate_temp()"><i class='bx bx-grid-small'></i>Annulation décision</div>
          <div class="li"><i class='bx bx-grid-small'></i>Validation décision</div>
          <div class="li"><i class='bx bx-grid-small'></i>Mise en place décision</div>
              
          <div class="a1"><div><i class='bx bx-grid-small'></i></div><div>Annulation décision Validée à l'initiative de la Banque</div></div>
          <div class="a1"><div><i class='bx bx-grid-small'></i></div><div>Annulation décision Validée à l'initiative du client</div></div>
 
        </div>
        
        <div class="section1">

          <div class="green">
            <p>Gestion des Déblocage</p>
          </div>
  
          
            <div class="li"><i class='bx bx-grid-small' ></i><a>Prise en charge déblocage</a></div>
            <div class="li"><i class='bx bx-grid-small'></i><a>Modification déblocage</a></div>
            <div class="li"><i class='bx bx-grid-small'></i><a>Annulation déblocage</a></div>
            <div class="li"><i class='bx bx-grid-small'></i><a>Validation déblocage</a></div>
            <div class="li"><i class='bx bx-grid-small'></i><a>Annulation déblocage Validé</a></div>
            
            <div class="a1"><div><i class='bx bx-grid-small'></i></div><div><a>Exécution déblocage</a></div></div>
            <div class="a1"><div><i class='bx bx-grid-small'></i></div><div><a>Annulation déblocage Exécuté</a></div></div>
            <div class="a1"><div><i class='bx bx-grid-small'></i></div><div><a>Déblocage Mnt. Reglement Fournisseur</a></div></div>
  
            

        </div>

        

    </div>


<!--<app-decisioncredit></app-decisioncredit>-->



<router-outlet></router-outlet>

    
    

