legend{
    margin: 0px 8px;
    color: #fff;
    font-size: large;
    font-family: sans-serif;
    background-color:#009a74;
    width: 98.9%;
    padding: 5px;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold;
  
  }
  
  
  .form-container{
    align-items: center;
    display: flex;
    border: black;
    background-color: #E0E0E0;
    margin: 0px 8px ;
    padding: 2px;
    border-radius: 0px 0px 4px 4px;
    justify-content: space-between;
    justify-content: space-around;
    padding: 1.5%;
    font-weight: bold;
    
    
  }
  

  