<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<legend>Description Client</legend>
<div class="form-container">

    <label for="nom_client">Nom du Client: {{ backendValue1}} </label>
    <label for="np_agricole">NP Agricole: {{ backendValue2}} </label>
    <label for="cp_client">Comptes Client: {{ backendValue3}} </label>                                                                 
    <label for="cin">CIN: {{ backendValue4}} </label>
  
   
</div>

